<div id="screencast">
  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="1000" height="648">
    <param name="movie" value="http://content.screencast.com/users/jgrahamthomas/folders/Jing/media/9c8ceabd-eb82-49cb-b789-637520344a9f/bootstrap.swf"></param> 
    <param name="quality" value="high"></param> 
    <param name="bgcolor" value="#FFFFFF"></param> 
    <param name="flashVars" value="thumb=http://content.screencast.com/users/jgrahamthomas/folders/Jing/media/9c8ceabd-eb82-49cb-b789-637520344a9f/FirstFrame.jpg&width=1334&height=865&content=http://content.screencast.com/users/jgrahamthomas/folders/Jing/media/9c8ceabd-eb82-49cb-b789-637520344a9f/2008-12-19_1711.swf"></param> 
    <param name="allowFullScreen" value="true"></param> 
    <param name="scale" value="showall"></param> 
    <param name="allowScriptAccess" value="always"></param> 
    <param name="base" value="http://content.screencast.com/users/jgrahamthomas/folders/Jing/media/9c8ceabd-eb82-49cb-b789-637520344a9f/"></param>  
    <embed src="http://content.screencast.com/users/jgrahamthomas/folders/Jing/media/9c8ceabd-eb82-49cb-b789-637520344a9f/bootstrap.swf" quality="high" bgcolor="#FFFFFF" width="1000" height="648" type="application/x-shockwave-flash" allowScriptAccess="always" flashVars="thumb=http://content.screencast.com/users/jgrahamthomas/folders/Jing/media/9c8ceabd-eb82-49cb-b789-637520344a9f/FirstFrame.jpg&width=1334&height=865&content=http://content.screencast.com/users/jgrahamthomas/folders/Jing/media/9c8ceabd-eb82-49cb-b789-637520344a9f/2008-12-19_1711.swf" allowFullScreen="true" base="http://content.screencast.com/users/jgrahamthomas/folders/Jing/media/9c8ceabd-eb82-49cb-b789-637520344a9f/" scale="showall"></embed>
  </object>
</div>