<% if SearchController::DO_CONTEXT_SEARCH %>
  <div id="context_container">
    <div id="related_articles" class="related">
      <h4>Related Articles</h4>
      <img src="/images/indicator_medium.gif" id="related_articles_indicator" class="indicator" />
    </div>
    <div id="related_discussions" class="related">
      <h4>Related Discussions</h4>
      <img src="/images/indicator_medium.gif" id="related_discussions_indicator" class="indicator" />
    </div>
    <div id="related_training" class="related">
      <h4>Related Training</h4>
      <img src="/images/indicator_medium.gif" id="related_training_indicator" class="indicator" />
    </div>
  </div>
<% end %>