<% contexts = ['articles','discussions','training'] %>

<div id="context_container">
  <% contexts.each do |context| %>
    <div id="related_<%= context %>" class="related">
      <h4>Related <%= context.titlecase %></h4>
      <%= image_tag('indicator_medium.gif', { :alt => 'Loading...', :id => "related_#{context}_indicator", :class => 'indicator' }) %>
    </div>
  <% end %>
</div>