<div class="no_results">
  <p>No results found...</p>
  <h4>Now what?</h4>
  <ul>
    <li>Have you tried <a href="#" onclick="$('location_changer').toggle(); $('location').focus(); return false;">changing the location</a> that you're searching in? At the top left you can try changing to your
      state or even "everywhere" to search the whole country.
    <li>Are your filters at left too specific? Try changing <a href="#" onclick="$('type').value='Any'; $('search_form2').submit(); return false;">Activity Type</a> or <a href="#" onclick="$('sport').value='Any'; $('search_form2').submit(); return false;">Sport/Activity</a> to "Any."</li>
    <li>It may just be that we don't have the kind of event you're looking for. Are you an event director that wants to list
      your event with us? You can <a href="http://www.active.com/events/event_add_listing.cfm">add yours here</a>.</li>
  </ul>
</div>