<div class="paging">
  <%= output_pages(from,to,total,results_per_page,query) %>
	<% unless from == 1 %>
	  <%= link_to('Previous', {:controller => 'search', :q => query, :start => from-results_per_page-1}, { :class => 'previous' }) %>
	<% else %>
	  <span class="previous">Previous</span>
	<% end %>
	<% unless to == total %>
    <%= link_to('Next', {:controller => 'search', :q => query, :start => from+results_per_page-1}, { :class => 'next' }) %>
  <% else %>
    <span class="next">Next</span>
  <% end %>
</div>