<div id="popular">
  <h3>Most popular <%= location_text %> searches:</h3>
  <ul>
    <% popular_local_searches.each do |search| %>
      <% unless search.keywords.blank? %>
        <li><%= link_to(search.keywords, { :action => 'index', :location => search.location, :q => search.keywords, :sport => search.sport, :type => search.type, :custom => search.custom, :mode => search.mode }) %></li>
      <% end %>
    <% end %>
  </ul>
</div>