<div id="search_modes_container">
  <ul id="search_modes">
    <% SearchController::SEARCH_MODES.each do |link| %>
      <li <%= 'class="selected"' if mode == link[:mode] %>><%= link_to(link[:name], :controller => 'search', :action => params[:action], :mode => link[:mode], :q => params[:q], :location => @location.form_value, :num => params[:num] || GASOHOL_CONFIG[:google][:num]) %></li>
    <% end %>
  </ul>
  
  <%= render :partial => 'view_poll' %>
  
</div>