<div id="refine_container">
  <div id="activity_search" class="tab">
    <form id="search_form2" name="search_form2" method="get" action="/search">
      <%= render :partial => 'location', :locals => { :location => @location } %>
      <%= render :partial => 'event_search' %>
    </form>
  </div>
  <%= render :partial => 'popular_local_searches' unless @popular_local_searches.empty? %>
  <%= render :partial => 'related_searches' unless @query == '' || @related_searches.empty? %>
</div>

<script type="text/javascript">
  url.sport ? selectOption('sport',url.sport) : null; s.changeSport();
  url.type ? selectOption('type',url.type) : null; s.changeType();
  url.custom ? selectOption('custom',url.custom.replace(/\+/g,' ')) : null;
</script>

