<div id="refine_container">
  <div id="activity_search" class="tab">
    <form id="search_form2" name="search_form2" method="get" action="/search">
      <%= render :partial => 'location', :locals => { :location => @location } %>
      <%= render :partial => 'event_search' %>
    </form>
  </div>
  
  <%= render :partial => 'popular_local_searches' %>
  
</div>

<script type="text/javascript">
  // this can run as soon as the search options on the left exist on the page
  // if we tie this to an onLoad event then it waits until flickr, youtube and twitter
  // respond, and in the meantime the search is just sitting there on the left in
  // a crappy state
  
  // which search to show
  // (url.p && url.p == '1') ? switchSearch('activity') : switchSearch('keyword');
  
  // was there already a radius, sport or type in the query string?
  // url.radius ? selectOption('radius',url.radius) : null;
  url.sport ? selectOption('sport',url.sport) : null;
  s.changeSport();
  url.type ? selectOption('type',url.type) : null;
  s.changeType();
  url.custom ? selectOption('custom',url.custom) : null;
</script>

