<form action="/search/search" method="get">
  <input type="text" id="q" name="q" value="<%= query %>" />
  <input type="submit" id="commit" name="commit" value="Search" onclick="location.href='/search/search?q='+$F(q); return false;" />
</form>