table#debug_output {
	margin: 2em 0 1em 260px;
}
	table#debug_output tr {
	}
		table#debug_output td {
			vertical-align: top;
			padding: .3em;
			background-color: #eeeeee;
			border-top: 2px solid #ffffff;
			border-bottom: 2px solid #ffffff;
		}
			table#debug_output td.label {
				white-space: nowrap;
				font-weight: bold;
				text-align: right;
			}