@import url('/stylesheets/shared.css');

#container {
	margin: 1em;
	}
h1 {
	font-size: 131%;
	font-weight: bold;
	color: #d06f1a;
	margin: 0 0 .5em;
	}
form {
	margin: 1em;
	}
	label {
		display: block;
	}
	textarea {
		height: 6em;
		width: 40em;
		margin: 0;
		padding: 0;
	}
	span.value {
		display: block;
		margin: 0 0 1.5em;
		font-weight: normal;
		font-size: 116%;
		color: #003e7e;
	}
	button {
		display: block;
	}