body {
	color: #333333;
}

img {
	vertical-align: text-bottom;
}

a {
	color: #003e7e;
}

a:hover {
	color: #d06f1a;
}

strong {
	font-weight: bold;
}

#header {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

	#active {
		background: transparent url('/images/active_header_bg.png') left top repeat-x;
		overflow: hidden;
	}
	
		#active_left {
			display: block;
			float: left;
		}
		
		#active_right {
			display: block;
			float: right;
		}
		
	ul#logged_in_options {
		float: right;
		margin: 1em;
	}
	
		ul#logged_in_options li {
			float: left;
			padding: 0 .5em;
		}
	
		ul#logged_in_options a {
			color: 	#ffc425;
		}

	#beta_notice {
		position: absolute;
		top: 40px;
		right: 50px;
	}
	
#body {
	font-family: Lucida Grande, Arial;
	position: absolute;
	top: 94px;
	width: 100%;
}

.ads {
	text-align: center;
}

	.ads iframe {
		display: inline;
	}

#popular a, #related a {
	text-decoration: none;
}

#home_search {
	text-align: left;
	margin: 100px auto;
	width: 32em;
}

	#home_search #search_location {
		margin: 0 0 .5em;
	}
		#home_search #search_location a {
			font-size: 93%;
		}

	#home_search input#q1 {
		width: 20em;
		padding: .1em;
		font-size: 116%;
		vertical-align: top;
	}
	
	#home_search input#commit {
		vertical-align: top;
	}
	
	#home_search div#more_link {
		font-size: 85%;
		margin: .5em 0;
	}
	
	#home_search div.column {
		display: block;
		float: left;
		margin: 0 2em 0 0;
	}
	
	#home_search .inplaceeditor-form {
		display: inline;
	}
	
		#home_search .inplaceeditor-form input {
			margin: 0 1em 0 0;
		}
	
		#home_search .inplaceeditor-form a {
			font-size: 93%;
		}
	
	#home_search a#change_location {
		font-size: 85%;
		color: #999999;
	}
	
	#home_search #popular {
		margin-top: 5em;
		overflow: hidden;
	}
	
		#home_search #popular ul {
			text-align: center;
		}
	
		#home_search #popular li {
			display: inline;
			padding: 0 1em 0 0;
			line-height: 1.5;
			white-space: nowrap;
		}

#search_table {
	width: 100%;
	min-height: 300px;
	}

#search_table td {
	vertical-align: top;
	}
	
#refine {
	width: 240px;
	border-right: 1px solid #cccccc;
}

	#refine_container {
		position: fixed;
		margin-top: -40px;
		padding: 60px 10px 10px 40px;
		background: transparent url('/images/search_refine_active_logo.png') 20px 0 no-repeat;
		width: 190px;
	}

	#refine #search_tabs {
		margin: 0 0 1em;
	}
	
		#refine #search_tabs li {
			display: inline;
			margin: 0 .8em 0 0;
			padding: 0 0 .4em;
		}
	
		#refine #search_tabs li.selected {
			font-weight: bold;
			background: transparent url('/images/search_selector.png') center bottom no-repeat;
		}
			#refine #search_tabs li.selected a {
				color: #333333;
			}
	
	#refine .tab_title.selected a, #search_refine .tab_title.selected a:hover {
		text-decoration: none;
	}

	#refine form {
		overflow: hidden;
	}
	
	#refine input {
		display: block;
	} 

	#refine input#q {
		border: 1px solid #aaaaaa;
		padding: 2px;
		width: 194px;
	}
	
	#refine .submit {
		float: right;
		margin: .5em 0;
	}
	
	#refine h3, #popular h3 {
		font-weight: bold;
		margin: 1em 0 .5em;
		color: #d06f1a;
		font-size: 108%;
	}
	
	#refine li {
		line-height: 1.5;
	}
	
		#refine li.selected {
			margin: 0 0 0 1em;
			font-weight: bold;
		}
		
		a.small {
			font-size: 85%;
		}
		
		#refine #popular {
			margin-top: 1em;
			overflow: auto;
		}
	
	#activity_search {
		overflow: auto;
	}
	
		#activity_search label {
			display: block;
			margin: .7em 0 .2em;
			color: #666666;
			clear: left;
		}
		
		#activity_search #date_picker input {
			display: inline;
			width: 7em;
			font-size: 93%;
			margin: .2em 0;
		}
			#activity_search #date_picker label {
				float: left;
				clear: left;
				width: 3em;
				font-size: 93%;
				text-align: right;
				color: #999999;
				margin: .4em .2em 0 0;
			}
		
			#activity_search #date_picker input.button {
				width: auto;
			}
			
		#activity_search #search_location #loc {
			display: block;
		}
			
		#activity_search #search_location #loc-inplaceeditor input {
			display: inline;
		}
		
			#activity_search #search_location #change_location {
				font-size: 85%;
			}

	#main {
		padding: 0 0 1em;
	}
	
	#results_container {
		margin: 0 1em;
	}

	#results {
		float: left;
		width: 100%;
	}
	
		.no_results {
			min-height: 400px;
			padding: .7em 0;
			font-size: 116%;
		}
	
	#context {
		width: 280px;
		border-left: 1px solid #999999;
		padding-top: 70px;
	}
	
		#context .related {
			display: block;
			margin: 0 0 2em;
		}
		
			#context .related h4 {
				display: block;
				float: none;
			}
	
		#context .result {
			margin: 0;
			padding: .1em 0;
			overflow: hidden;
		}

		#context .result .title {
			float: left;
			margin: 0 0 .4em;
			line-height: 1.1;
		}
			#context .result .title a {
				border: none;
			}

		#context .result h3 {
			font-size: 93%;
			display: inline;
		}
		
			#context .result h3 a {
				text-decoration: none;
			}

			#context .result .title.sport {
				background-color: transparent;
				background-position: 0 1px;
				background-repeat: no-repeat;
				background-image: none;
				padding: 0;
			}
			
			#context .indicator {
				display: block;
				width: 32px;
				margin: 1em auto;
			}
			
		#context .more {
			display: block;
			text-align: center;
			margin: 1em 0 0;
			text-decoration: none;
			color: #5091CD;
		}
			#context .more:hover {
				color:#D06F1A;
			}
	
		#context_container {
			margin: 1em;
		}
	
		#context h4 {
			font-weight: bold;
			color: #006225;
			font-size: 108%;
			margin: 0 0 .5em 0;
			float: left;
		}
		
			#context span.subtitle {
				font-weight: normal;
				color: #333333;
				font-size: 93%;
				margin: .1em 0 0;
				float: right;
			}
		
		#context ul {
			overflow: hidden;
			margin: 0 0 1em;
			clear: left;
		}
		
		#context li {
			display: block;
			float: left;
		}
		
		#photos img {
			margin: 0 18px 18px 0;
		}
		
		#video img {
			margin: 0 10px 10px 0;
			width: 125px;
		}
		
			#video li {
				display: inline;
				float: none;
			}
		
		#tweets {
			font-size: 93%;
		}
		
			#tweets li {
				margin: 0 0 1em;
			}
		
			#tweets a {
				color: #666666;
			}

	#breadcrumb {
		border-bottom: 2px solid #cccccc;
		padding: 1em 1em 1em 0;
		overflow: hidden;
	}
	
		#breadcrumb h2 {
			color: #003e7e;
			font-weight: bold;
			font-size: 116%;
			float: left;
		}
		
			#breadcrumb h2 span {
				color: #d06f1a;
			}
	
		#result_count {
			color: #666666;
			float: right;
			font-size: 85%
		}
	
	#featured {
		margin: 1em 0 0;
		padding: 0 1em;
		background-color: #d7e8f7;
		overflow: auto;
	}
	
		#featured h3 {
			float: right;
			color: #5091cd;
			margin: 1em 0 0;
		}
		
		#featured .result {
			float: left;
		}
		
		#featured .result:hover {
			background-image: none;
		}
		
	#sort {
		font-size: 93%;
		margin: 1em 0 1em;
	}
	
		#sort a {
			text-decoration: none;
		}
	
		#sort ul {
			display: inline;
		}
	
		#sort li {
			display: inline;
			margin: 0 .2em 0 0;
		}
		
			#sort li.selected {
				font-weight: bold;
			}
			
	.month_separator {
		padding: .5em 1em;
		background-color: #d7e8f7;
		}
		
	.result {
		margin: 0;
		padding: .7em 0;
		overflow: hidden;
	}
		
		.result.sub {
			margin-left: 2em;
		}
	
	/*
		.result:hover {
			background: transparent url('/images/result_bg.png') top left repeat-x;
		}
	*/
		
		.result .title {
			float: left;
			margin: 0 0 .2em;
		}
			.result .title a {
				text-decoration: none;
				border-bottom: 1px solid #5091CD;
			}
			.result .title a:hover {
				text-decoration: none;
				border-bottom: 1px solid #d06f1a;
			}
		
			.result .title.sport {
				background-color: transparent;
				background-position: 0 3px;
				background-repeat: no-repeat;
			}
		
			/* sport icons next to titles */
			.result .title.running {
				padding-left: 34px;
				background-image: url('/images/sport_icon_running.png');
			}
			
			.result .title.triathlon {
				padding-left: 34px;
				background-image: url('/images/sport_icon_triathlon.png');
			}
			
			.result .title.cycling {
				padding-left: 34px;
				background-image: url('/images/sport_icon_cycling.png');
			}
		
			.result h3 {
				font-size: 108%;
				display: inline;
			}
		
			.result .save {
				display: none;
				float: right;
			}
		
			.result:hover .save {
				display: block;
			}
	
		.result span.abstract {
			display: block;
			clear: left;
			margin-right: 20px;
		}
		
		.result .text {

		}
		
		.result .preview_image {
			float: right;
		}
		
			.result .preview_image img {
				max-width: 75px;
			}
			
		.result .rating {
			display: inline;
			white-space: nowrap;
		}
		
		.result ul.meta {
			color: #666666;
			display: block;
			float: none;
			clear: both;
			margin: .2em 0 0;
			font-size: 93%;
		}
		
			.result ul.meta li {
				display: inline;
				margin: 0 1em 0 0;
			}
			
		.result .related_links img {
			vertical-align: middle;
		}
		
		.result .related_links {
			display: block;
			clear: both;
			font-size: 85%;
			padding: .5em 0;
			color: #aaaaaa;
		}
		
			.result .related_links a.register_link {
				color: #006225;
				font-weight: bold;
				margin: 0 1em 0 0;
			}
			
			.result .related_links a {
				color: #aaaaaa;
			}
			
			.result .related_links ul {
				margin: 0 0 0 1em;
				display: inline;
			}
		
			.result .related_links li {
				display: inline;
				margin: 0 .5em 0 0;
			}
		
#paging {
	border-top: 2px solid #cccccc;
	padding: 1em 0;
}
		
.paging {
	float: right;
	}

	.paging .previous {
		margin: 0;
		padding: 1px 1px 1px 10px;
		}

	.paging .next {
		margin: 0;
		padding: 1px 10px 1px 1px;
		}

	.paging a.previous {
		background: transparent url('/images/previous.png') 2px center no-repeat;
		}

	.paging span.previous {
		color: #aaaaaa;
		background: transparent url('/images/previous_disabled.png') 2px center no-repeat;
		}

	.paging a.next {
		background: transparent url('/images/next.png') 90% center no-repeat;
		}

	.paging span.next {
		color: #aaaaaa;
		background: transparent url('/images/next_disabled.png') 90% center no-repeat;
		}

	.paging a.current {
		border: 1px solid #D3E2EE;
		padding: 0 1px;
		font-weight: bold;
		text-decoration: none;
		background-color: #eeeeee;
		}
		
/* 404 and 500 */
  div#error {
  	margin: 4em 2em 4em 8em;
  	}
  	div#error h1 {
  		color: #003e7e;
  		font-size: 150%;
  		height: 51px;
  		}
  	div#error.page404 h1 {
  		background: transparent url('/images/icon-info.png') top left no-repeat;
  		margin-left: -65px;
  		padding: .5em 0 0 65px;
  		}
  	div#error.page500 h1 {
  		background: transparent url('/images/icon-warning.png') top left no-repeat;
  		margin-left: -75px;
  		padding: .5em 0 0 75px;
  		}
  	div#error h2 {
  		font-size: 130%;
  		margin: 1em 0;
  		}
  	div#error dl {
  		overflow: hidden;
  		}
  	div#error dt {
  		margin: 0;
  		padding: 0;
  		font-weight: bold;
  		}
  	div#error dd {
  		margin: 0 0 .5em;
  		padding: 0;
  		}
  	div#error div#feedback_form {
  		background-color: #d7e8f7;
  		padding: 1em;
  		width: 400px;
  		margin: 4em auto;
  		font-size: 90%;
  		}
  		div#error div#feedback_form h3 {
  			font-size: 110%;
  			margin: 0 0 1em;
  			}
  		div#error div#feedback_form textarea {
  			display: block;
  			height: 6em;
  			width: 33em;
  			}
  		div#error div#feedback_form input {
  			display: block;
  			width: 25em;
  			}
  		div#error div#feedback_form label {
  			display: block;
  			color: #666666;
  			margin: .5em 0 0;
  			}
  		div#error div#feedback_form #commit {
  			width: 56px;
  			height: 21px;
  			margin: 1em auto 0;
  			}
