body {
	color: #333333;
}

img {
	vertical-align: text-bottom;
}

a {
	color: #003e7e;
}

a:hover {
	color: #d06f1a;
}

strong {
	font-weight: bold;
}

#notice {
	padding: .5em; 
	text-align: center; 
	background-color: #009900; 
	color: #ffffff; 
	width: 30em;
	position: absolute;
	top: 80px;
	left: 400px;
	z-index: 100;
	font-family: Lucida Grande, Helvetica, Arial, sans-serif;
}

#header {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	font-family: Lucida Grande, Helvetica, Arial, sans-serif;
}

	#active {
		background: transparent url('../images/active_header_bg.png') left top repeat-x;
		overflow: hidden;
	}
	
	  #active_left {
	    border: 0;
    }
	
		#active_left h1 {
			display: block;
			float: left;
			background: transparent url('../images/active_header_left.png') top left no-repeat;
			height: 95px;
			width: 299px;
		}
			#active_left a {
				display: block;
			}
			#active_left span {
				display: none;
			}
		
		#active_right {
			display: block;
			float: right;
		}
		
	ul#logged_in_options {
		float: right;
		margin: 1em;
	}
	
		ul#logged_in_options li {
			float: left;
			padding: 0 .5em;
		}
	
		ul#logged_in_options a {
			color: 	#ffc425;
		}

	#beta_notice {
		position: absolute;
		top: 210px;
		right: 50px;
	}
	
#body {
	font-family: Lucida Grande, Arial;
	position: absolute;
	top: 94px;
	width: 100%;
}

/* Footer */

#footer {
	margin: 0;
	padding: 1em;
	background-color: #f6f6f6;
	text-align: right;
	color: #333333;
}

	#footer #copyright {
		font-size: 85%;
	}


button {
	border: 0;
	cursor: pointer;
	text-align: center;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin: 2em 0 2em;
	padding: 0 7px 0 0;
	width: auto;
	overflow: visible;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: right;
	}

	button span {
		position: relative;
		display: block;
		white-space: nowrap;
		padding: 0 12px 0 20px;
		height: 29px;
		line-height: 29px;
		background-color: transparent;
		background-position: left;
		background-repeat: no-repeat;
		}

button.a1 {
	background-image: url('../images/button_a1_right.png');
	}

button.a1 span {
	color: #ffffff;
	background-image: url('../images/button_a1_left.png');
	}