body {
	font-family: Lucida Grande, Helvetica, Arial, sans-serif;
	padding: 1em;
	}
	
a {
	color: #003e7e;
}

a:hover {
	color: #000000;
	text-decoration: none;
}

strong {
	font-weight: bold;
}

h1 {
	font-size: 174%;
	font-weight: bold;
	color: #003e7e;
	text-align: center;
}

#notice, #error {
	padding: 1em;
	color: #ffffff;
	text-align: center;
	width: 29em;
	margin: 0 auto;
	font-size: 116%;
}

#notice {
	background-color: #009900;
}

#error {
	background-color: #990000;
}
	
form {
	width: 30.23em;
	margin: 5em auto;
	background: transparent url('/images/login_bg.png') top left no-repeat;
	padding: 9em 3em 0;
	text-align: center;
	}
	
#errorExplanation {
	background-color: #990000;
	color: #ffffff;
	text-align: left;
	padding: 1em;
}

	#errorExplanation h2 {
		font-size: 116%;
		margin: 0 0 1em;
	}
	
	#errorExplanation ul {
		margin: 1em;
	}
	
	#errorExplanation li {
		list-style: disc;
	}
	
label {
	font-size: 174%;
	color: #003e7e;
	margin: .8em auto 0;
	display: block;
	width: 100%;
	text-align: center;
	}
	
	div.fieldWithErrors label {
		color: #990000;
	}
	
input {
	display: block;
	font-size: 174%;
	width: 15em;
	margin: 0 auto;
	}
	
	div.fieldWithErrors input {
		border: 2px solid #990000;
	}
	
span.example {
	color: #999999;
}
	
button {
	border: 0;
	cursor: pointer;
	text-align: center;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin: 2em 0 2em;
	padding: 0 7px 0 0;
	width: auto;
	overflow: visible;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: right;
	}
	
	button span {
		position: relative;
		display: block;
		white-space: nowrap;
		padding: 0 12px 0 20px;
		height: 29px;
		line-height: 29px;
		background-color: transparent;
		background-position: left;
		background-repeat: no-repeat;
		}

button.a1 {
	background-image: url('/images/button_a1_right.png');
	}

button.a1 span {
	color: #ffffff;
	background-image: url('/images/button_a1_left.png');
	}
	
#thankyou {
	text-align: center;
	font-size: 131%;
	color: #003e7e;
	margin: 2em;
}

table#list {
}

table td {
	border-bottom: 1px solid #cccccc;
	padding: .2em .5em;
}

table th {
	border-bottom: 3px double #aaaaaa;
	font-weight: bold;
	padding: .2em .5em;
	color: #999999;
}