<div id="keywords_container">
	<label for="keywords">Keywords <span class="optional">(optional)</span></label>
	<input type="text" name="q" id="q" value="<%= params[:q] %>" onkeypress="return handleEnter(this.form, event);" />
</div>

<div id="optional_search_fields">
  <div class="column">
  	<label>Date Range</label>
  	<div id="date_picker">
  		<div><label for="start_date">from</label><%= calendar_date_select_tag "start_date", params[:start_date] %></div>
  		<div><label for="end_date">to</label><%= calendar_date_select_tag "end_date", params[:end_date] %></div>
  	</div>
  </div>

  <div class="column">
  	<label for="sport">Sport/Activity</label>
  	<select name="sport" id="sport"></select>

  	<div id="type_container">
  		<label for="type">Activity Type</label>
  		<select name="type" id="type">
  		  <option value="any">Any</option>
  		</select>
  	</div>

  	<div id="custom_container" style="display:none">
  		<label for="custom" id="custom_label"></label>
  		<select name="custom" id="custom"></select>
  	</div>
  </div>
</div>

<script type="text/javascript">
  // initialize search dropdowns
  var s = new Search(assets);
  url.sport ? selectOption('sport',url.sport) : null; s.changeSport();
  url.type ? selectOption('type',url.type) : null; s.changeType();
  url.custom ? selectOption('custom',url.custom.replace(/\+/g,' ')) : null;
  // url.start_date ? $('start_date').value = url.start_date : null;
  // url.end_date ? $('end_date').value = url.end_date : null;
</script>