<div id="keywords_container">
	<label for="keywords">Keywords</label>
	<input type="text" name="q" id="q" value="<%= @original_keywords %>" onkeypress="return handleEnter(this.form, event);" />
</div>