<div id="debug_options">
  <label for="num">Num Results</label>
  <input type="textbox" id="num" name="num" value="<%= params[:num] || GASOHOL_CONFIG[:google][:num] %>" />
  <label for="debug">Debug</label>
  <input type="checkbox" id="debug" name="debug" value="true" <%= "checked=\"checked\"" if params[:debug] %> />
</div>