<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>	
	<title>Active.com - Search</title>
	
	<%= stylesheet_link_tag 'reset','fonts','search' %>
	<%= javascript_include_tag 'prototype','effects','search','application' %>

	<!-- <script type="text/javascript" src="http://shots.snap.com/ss/71d97129ad64f93ab8cfea8b021c4ee5/snap_shots.js"></script> -->

</head>

<body>
  
  <div id="header">
    <div id="active">
      <%= link_to(image_tag("/images/active_header_left.png", :id => "active_left"), root_path) %>
      <!-- <img src="/images/active_header_right.png" id="active_right" /> -->
    </div>
  </div>

  <div id="body">
    <%= yield %>
  </div>

</body>
</html>