<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>	
	<title>Active.com Search Beta - Upgrading!</title>
	
	<link href="/stylesheets/reset.css?1211921661" media="screen" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/fonts.css?1211921637" media="screen" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/search.css?1228517259" media="screen" rel="stylesheet" type="text/css" />
  
  <style type="text/css">
    p {
      margin: 1em 0;
      }
  </style>
</head>

<body>
  
  <div id="header">
    <div id="active">
      <a href="/"><img alt="Active_header_left" id="active_left" src="/images/active_header_left.png?1224094034" /></a>
    </div>
  </div>

  <div id="body">
    
    <div id="error" class="page500">
    	<h1>We're currently upgrading our servers!</h1>
    	<h2>Now what?</h2>
    	<p>We've got some new code bits that we want to share so we need to take the site down for a few minutes while the servers are updated. We'll be back ASAP!</p>
    	<p>In the meantime, here's a Labs-approved video:</p>
    	<p style="text-align: center">
    	  <object width="425" height="344">
    	    <param name="movie" value="http://www.youtube.com/v/JvltzwkUEEA&hl=en&fs=1&fmt=18"></param>
    	    <param name="allowFullScreen" value="true"></param>
    	    <param name="allowscriptaccess" value="always"></param>
    	    <embed src="http://www.youtube.com/v/JvltzwkUEEA&hl=en&fs=1&fmt=18" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed>
    	  </object>
    	</p>
    </div>
    
    <!-- feedback -->
    <script src="http://active.uservoice.com/pages/search_beta/widgets/tab.js?alignment=right&amp;color=990000" type="text/javascript"></script>

</div>
  
</body>
</html>